window, body
  height 100%
  margin 0
  padding 0

body
  padding-top 40px

.fc
  table
    border 0
    margin 0
    padding 0
  .fc-header
    td
      border 0

.fc-sat, .fc-sun
  background-color: #eeeeee
